<template name="padsList">
	{{#if padListEdit}}

		{{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-action="padListToggleIndex">
        Done
      </button>
		{{/contentFor}}

		{{#contentFor "headerButtonRight"}}

		{{/contentFor}}

	{{else}}

		{{#contentFor "headerButtonLeft"}}
      <button class="button button-clear pull-left" data-action="padListToggleEdit">
        Edit
      </button>
		{{/contentFor}}

		{{#contentFor "headerButtonRight"}}
      <button class="button button-clear pull-right" data-ion-modal="padAdd">
				{{> ionIcon icon='ios-plus-empty'}}
      </button>
		{{/contentFor}}

	{{/if}}

	{{#contentFor "headerTitle"}}
    <h1 class="title">Pads</h1>
	{{/contentFor}}

	{{#ionView}}
		{{#ionContent}}
			{{#ionList}}
				{{#each padsList}}
					{{>_padItem }}
				{{/each}}
			{{/ionList}}
		{{/ionContent}}


	{{/ionView}}

	</template>